{{>navbar}}
<div class="container">
  <div class="row">
    {{#each news}}
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="{{urlToImage}}" alt="image" class="activator responsive-img">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{description}}</span>
          <p> <a href="{{url}} post-link">read more</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icon right">user</i></span>
          <p>{{content}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
