{{>post}}
<div class="container">
  <div class="card center z-depth-3">
    <div class="card-content">
      <h3 class="center">{{title}}</h3>
      <p>{{post}}</p>
      <small> posted by: <b>{{author}}</b></small>
    </div>
    <div class="card-action center-align ">
      {{#if isOwner}}
        <a href="/api/posts/delete/{{id}}" class="blue-text text-darken">Delete</a>
        <a href="/api/posts/edit/{{id}}" class="blue-text text-darken"> Edit</a>
      {{/if}}
    </div>
  </div>
</div>
